n8n-workflows/event-anmeldung.json
{
  "id": "yhY78BEKlrsDniy8",
  "name": "Event-Anmeldung",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "event-registration",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Formatiere die Anmeldedaten\nlet details = \"\";\nif (body.type === \"shift\") {\n  details = `Gewählte Schichten:\\n${body.shifts.map(s => `- ${s}`).join(\"\\n\")}`;\n} else {\n  details = `Anzahl Personen: ${body.participants}`;\n}\n\nreturn {\n  json: {\n    eventTitle: body.eventTitle,\n    eventId: body.eventId,\n    organizerEmail: body.organizerEmail,\n    type: body.type,\n    name: body.name,\n    email: body.email,\n    phone: body.phone || \"Nicht angegeben\",\n    details: details,\n    notes: body.notes || \"Keine\",\n    shifts: body.shifts || [],\n    participants: body.participants || 1\n  }\n};"
      },
      "id": "code-1",
      "name": "Daten verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "website@fwv-raura.ch",
        "toEmail": "={{ $json.organizerEmail }}",
        "subject": "={{ $json.type === \"shift\" ? \"Helfer-Anmeldung\" : \"Teilnehmer-Anmeldung\" }}: {{ $json.eventTitle }}",
        "emailType": "html",
        "message": "=<h2>Neue {{ $json.type === \"shift\" ? \"Helfer\" : \"Teilnehmer\" }}-Anmeldung</h2><p><strong>Event:</strong> {{ $json.eventTitle }}</p><hr><p><strong>Name:</strong> {{ $json.name }}</p><p><strong>E-Mail:</strong> {{ $json.email }}</p><p><strong>Telefon:</strong> {{ $json.phone }}</p><hr><p><strong>{{ $json.type === \"shift\" ? \"Schichten\" : \"Details\" }}:</strong></p><pre>{{ $json.details }}</pre><p><strong>Bemerkungen:</strong> {{ $json.notes }}</p>",
        "options": {
          "replyTo": "={{ $json.email }}"
        }
      },
      "id": "email-1",
      "name": "E-Mail an Organisator",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "website@fwv-raura.ch",
        "toEmail": "={{ $json.email }}",
        "subject": "=Anmeldebestätigung: {{ $json.eventTitle }}",
        "emailType": "html",
        "message": "=<h2>Vielen Dank für Ihre Anmeldung</h2><p>Guten Tag {{ $json.name }}</p><p>Wir haben Ihre Anmeldung für <strong>{{ $json.eventTitle }}</strong> erhalten.</p><hr><p><strong>Ihre Angaben:</strong></p><pre>{{ $json.details }}</pre><p><strong>Bemerkungen:</strong> {{ $json.notes }}</p><hr><p>Bei Fragen können Sie sich direkt an den Organisator wenden.</p><p>Mit freundlichen Grüssen<br>Feuerwehrverein Raurachemme</p>",
        "options": {}
      },
      "id": "email-2",
      "name": "Bestätigung an Teilnehmer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Anmeldung erfolgreich\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Erfolg Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Daten verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten verarbeiten": {
      "main": [
        [
          {
            "node": "E-Mail an Organisator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bestätigung an Teilnehmer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail an Organisator": {
      "main": [
        [
          {
            "node": "Erfolg Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestätigung an Teilnehmer": {
      "main": [
        [
          {
            "node": "Erfolg Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
