n8n-workflows/newsletter-bestaetigung.json
{
  "id": "kNk28tISp3C1GUlT",
  "name": "Newsletter-Bestätigung",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "newsletter-confirm",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Feuerwehrverein-Raura/Homepage/contents/newsletter_subscribers.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "github-get",
      "name": "Abonnenten laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $(\"Webhook\").first().json.query.token;\nconst githubResponse = $input.first().json;\nconst existingContent = Buffer.from(githubResponse.content, \"base64\").toString(\"utf8\");\nconst data = JSON.parse(existingContent);\nlet found = false;\nlet email = null;\nfor (let i = 0; i < data.subscribers.length; i++) {\n  if (data.subscribers[i].token === token) {\n    data.subscribers[i].confirmed = true;\n    data.subscribers[i].confirmedAt = new Date().toISOString();\n    email = data.subscribers[i].email;\n    found = true;\n    break;\n  }\n}\ndata.lastUpdated = new Date().toISOString();\nconst newContent = Buffer.from(JSON.stringify(data, null, 2)).toString(\"base64\");\nreturn { json: { content: newContent, sha: githubResponse.sha, found: found, email: email } };"
      },
      "id": "code-1",
      "name": "Abonnent bestätigen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Feuerwehrverein-Raura/Homepage/contents/newsletter_subscribers.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": \"Newsletter bestätigt\", \"content\": \"{{ $json.content }}\", \"sha\": \"{{ $json.sha }}\"}",
        "options": {}
      },
      "id": "github-put",
      "name": "Abonnenten speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><title>Newsletter bestätigt</title><style>body{font-family:system-ui;max-width:600px;margin:50px auto;padding:20px;text-align:center}h1{color:#dc2626}</style></head><body><h1>Vielen Dank!</h1><p>Ihre Newsletter-Anmeldung wurde erfolgreich bestätigt.</p><p><a href=\"https://fwv-raura.ch\">Zurück zur Website</a></p></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Erfolg Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Abonnenten laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abonnenten laden": {
      "main": [
        [
          {
            "node": "Abonnent bestätigen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abonnent bestätigen": {
      "main": [
        [
          {
            "node": "Abonnenten speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abonnenten speichern": {
      "main": [
        [
          {
            "node": "Erfolg Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
